<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <style>
    	.header {
    		background: darkgrey;
    	}

    	.header > div {
    		border-right: 1px solid #fff;
    	}

    	.header {
    		font-weight: bold;
    	}

    	.even {
    		background: lightgrey;
    	}
    </style>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="container">
	    <div class="row">
	    	<div class="col-xs-12 header">
	    		<div class="col-xs-2">Player name</div>
	    		<div class="col-xs-1">Team</div>
	    		<div class="col-xs-2">Birth date</div>
	    		<div class="col-xs-1">Height</div>
	    		<div class="col-xs-1">Weight</div>
	    		<div class="col-xs-1">Position</div>
	    		<div class="col-xs-1">Number</div>
	    		<div class="col-xs-1">Bats</div>
	    		<div class="col-xs-1">Throws</div>
	    		<div class="col-xs-1">Status</div>
	    	</div>
	    	<div class="col-xs-12">
	    		<div class="col-xs-2">Alexei Ramirez</div>
	    		<div class="col-xs-1">SDP</div>
	    		<div class="col-xs-2">1981-09-22</div>
	    		<div class="col-xs-1">6'3"</div>
	    		<div class="col-xs-1">185lb</div>
	    		<div class="col-xs-1">SS</div>
	    		<div class="col-xs-1">10</div>
	    		<div class="col-xs-1">R</div>
	    		<div class="col-xs-1">R</div>
	    		<div class="col-xs-1">Active</div>
	    	</div>
	    	<div class="col-xs-12 even">
	    		<div class="col-xs-2">Alexei Ramirez</div>
	    		<div class="col-xs-1">SDP</div>
	    		<div class="col-xs-2">1981-09-22</div>
	    		<div class="col-xs-1">6'3"</div>
	    		<div class="col-xs-1">185lb</div>
	    		<div class="col-xs-1">SS</div>
	    		<div class="col-xs-1">10</div>
	    		<div class="col-xs-1">R</div>
	    		<div class="col-xs-1">R</div>
	    		<div class="col-xs-1">Active</div>
	    	</div>
	    	<div class="col-xs-12">
	    		<div class="col-xs-2">Alexei Ramirez</div>
	    		<div class="col-xs-1">SDP</div>
	    		<div class="col-xs-2">1981-09-22</div>
	    		<div class="col-xs-1">6'3"</div>
	    		<div class="col-xs-1">185lb</div>
	    		<div class="col-xs-1">SS</div>
	    		<div class="col-xs-1">10</div>
	    		<div class="col-xs-1">R</div>
	    		<div class="col-xs-1">R</div>
	    		<div class="col-xs-1">Active</div>
	    	</div>
	    </div>
	</div>	    	

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  </body>
</html>
